    <nav>
      {{> linke  text='Summary' href='/summary' line=true}}
      {{> linke  text='Skills' href='/skills' line=true}}
      {{> linke  text='Education' href='/education' line=true }}
      {{> linke  text='Work' href='/work' line=true noLine=true}}
    </nav>